body * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: black 3px 3px 5px;
}

.firstRow {
  flex-direction: row;
  gap: 80px;
}

.btnRow {
  flex-direction: row;
  gap: 16px;
  padding: 16px;
}

.btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 26px;
}

.countdown {
  background-color: #1f1f1f;
  padding: 18px;
  border-radius: 8px;
  width: 450px;
  margin: 16px 0;
  box-shadow: black 2px 2px 5px;
}

#time-left {
  font-size:  280%;
}

h3 {
  font-size: 130%;
} 