body * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firstRow {
  flex-direction: row;
  gap: 80px;
}

.btnRow {
  flex-direction: row;
  gap: 16px;
  padding: 16px;
}

.btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 26px;
}

#time-left {
  font-size:  280%;
}

h3 {
  font-size: 130%;
} 