@use '../abstracts/' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: var(--shadow);
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  font-family: 'Inter:wght@600', sans-serif;
  background-color: var(--primary);
  color: var(--secondary);
}

.container {
  width: 450px;
}

@media (max-width: 500px) {
  .container {
    width: 380px;

    .controls {
      .firstRow {
        gap: 40px;
      }
    }
  }
}

@media (max-width: 400px) {
  .container {
    width: 86vw;

    .display {
      .time-left {
        font-size: 64px;
      }

      h3 {
        font-size: 32px;
      }
    }

    .controls {
      .firstRow {
        gap: 28px;

        p {
          font-size: 18px;
        }
      }

      .btnRow {
        .btn svg {
          width: 20px;
        }
      }
    }

    .footer {
      font-size: 14px;
    }
  }
}
