.controls {
  width: 100%;

  .btnRow {
    width: 100%;
    flex-direction: row;
    gap: 16px;
    padding: 16px 0;

    .btn {
      background: none;
      border: none;
      outline: none;
      color: white;
      cursor: pointer;
      padding: 0;
    }
  }

  .firstRow {
    flex-direction: row;
    gap: 80px;
    padding: 16px 0;

    p {
      font-size: 24px;
    }

    .btnDisabled {
      color: hsl(0 0% 100% / 0.4);

      &:hover {
        cursor: default;
      }
    }
  }
}
