.controls {
  width: 100%;

  &:last-child {
    .btn {
      font-size: larger;
      color: aqua;
    }
  }

  .btnRow {
    width: 100%;
    flex-direction: row;
    gap: 12px;
    padding: 16px 0;

    .btn {
      background: none;
      border: none;
      outline: none;
      color: white;
      font-size: 22px;
      cursor: pointer;
      font-weight: 300;
    }
  }

  .firstRow {
    flex-direction: row;
    gap: 80px;
    padding: 16px 0;

    p {
      font-size: 24px;
    }

    .btnDisabled {
      color: hsl(0 0% 100% / 0.4);

      &:hover {
        cursor: default;
      }
    }
  }
}
