.display {
  background-color: var(--display-background);
  padding: 18px;
  border-radius: 8px;
  width: 100%;
  margin: 16px 0;
  box-shadow: var(--box-shadow);

  h3 {
    font-size: 38px;
  }

  .time-left {
    font-size: 80px;
  }
}

.red {
  color: red;
}
